<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Welcome to the GatherHub</h1>
    <h2>Connect, Collaborate, Communicate    </h2>
    <%= link_to "Find A Hub", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "Create A Hub", newhub_path, class: "btn btn-lg btn-primary" %>
</div>
