<% provide(:title, @hub.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="hub_info">
      <h1>
        Hub name is <%= @hub.name %>
      </h1>
      <h2>
          created by <%= @hub.email %>
      </h2>
    </section>
  </aside>
</div>