<header class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navbar-inner">
        <div class="container">
            <big id="head">Enter a hub ID</big>
            <nav>
                <ul class="nav navbar-nav pull-right">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Help", help_path %></li>
                </ul>
            </nav>
        </div>
    </nav>
</header>